* {
    font-family: monospace
}

:root {
    --background_color: black;
    --text_color: white;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent
}

a {
    color: var(--text_color)
}

.text {
    color: var(--text_color);
    margin: 0px
}

.button {
    user-select: none;
    text-decoration: underline;
    cursor: pointer
}