* {
  font-family: monospace;
  scroll-behavior: smooth;
}

:root {
  --background_color: black;
  --text_color: white;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

a {
  color: var(--text_color);
}

.text {
  color: var(--text_color);
  margin: 0px;
}

.button {
  user-select: none;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes flashing {
  0% {
    background: var(--background_color);
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    background: var(--text_color);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    background: var(--background_color);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
